html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: bold;
}

.card-img-top {
  width: 253px;
  height: 150px;
}

@media only screen and (max-width: 450px) {
  .distance-heading {
    font-size: 35px;
  }

  .card-img-top {
    width: 155px;
  }

  .distance-body {
    padding: 0;
  }
}
